<% layout("/layouts/boilerplate") %>


    <body>



        <div class="heading-banner jw">
            <p>Explore Jewellery</p>
        </div>


        <div class="banner-partition">
            <a href="">
                <div class="first">
                    <p>best selling</p>
                </div>
            </a>
            <a href="">
                <div class="second">
                    <p> best product</p>
                </div>
            </a>
        </div>




        <div class="products-bar">
            <% products.forEach(product=> { %>
                <div class="products">
                    <div class="image">
                        <img src="<%= product.image %>" alt="<%= product.name %>">
                    </div>

                    <a href="/temishaa/<%= product._id %>?page=<%= currentPage %>">
                        <%= product.name %>
                    </a>
                </div>
                <% }); %>
        </div>





        <div class="banner-partition">
            <a href="">
                <div class="first">
                    <p>best selling</p>
                </div>
            </a>
            <a href="">
                <div class="second">
                    <p> best product</p>
                </div>
            </a>
        </div>

       



    </body>